/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/storage
/public/images/blog
/public/images/events
/public/images/gallery
/public/images/teams
/public/images/packages
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
